# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (managed: se pueden regenerar)
android/
ios/

# Secrets
.env
.env.*

# Certificates / keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# typescript
*.tsbuildinfo

# misc
*.orig.*
coverage/